.navbar-brand img {
    margin-right: 5px;
    height: 30px;
    width: 30px;
}
.navbar {
  background-color: pink;

.card {
    height: 100%;
}

.center-text {
  text-align: center;
}



